flows.json
[{"id":"e7d792b9.879a5","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1e6d4cb.ea88bb3","type":"ui_form","z":"e7d792b9.879a5","name":"","label":"","group":"eae9e310.74b54","order":1,"width":13,"height":2,"options":[{"label":"Please enter your query","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":170,"y":200,"wires":[["53bccd1.7052a34"]]},{"id":"53bccd1.7052a34","type":"function","z":"e7d792b9.879a5","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":120,"wires":[["fabc1c83.257a4","9e2fbf4d.205de"]]},{"id":"af158e10.6105a","type":"function","z":"e7d792b9.879a5","name":"","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":140,"wires":[["ebf76e7b.af6cf"]]},{"id":"fabc1c83.257a4","type":"watson-conversation-v1","z":"e7d792b9.879a5","name":"Customer Care","workspaceid":"45bee122-0b17-4b81-a7a1-974b91f9207c","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/410950d0-9164-43a8-a329-2c2ca93fef0d","timeout":"","optout-learning":false,"x":540,"y":120,"wires":[["af158e10.6105a","dc13b9a1.c7af78"]]},{"id":"9e2fbf4d.205de","type":"ui_text","z":"e7d792b9.879a5","group":"eae9e310.74b54","order":4,"width":13,"height":1,"name":"","label":"You","format":"{{msg.payload}}","layout":"row-left","x":500,"y":300,"wires":[]},{"id":"dc13b9a1.c7af78","type":"debug","z":"e7d792b9.879a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":820,"y":60,"wires":[]},{"id":"ebf76e7b.af6cf","type":"ui_text","z":"e7d792b9.879a5","group":"eae9e310.74b54","order":5,"width":0,"height":0,"name":"","label":"Sasha:","format":"{{msg.payload}}","layout":"col-center","x":780,"y":320,"wires":[]},{"id":"eae9e310.74b54","type":"ui_group","z":"","name":"Chatbot","tab":"4718895e.a32f68","order":1,"disp":true,"width":16,"collapse":false},{"id":"4718895e.a32f68","type":"ui_tab","z":"","name":"Customer Care Smart chatbot","icon":"dashboard","disabled":false,"hidden":false}]